h1 {
  text-align: center;
  margin-top: 2%;
}


h2,
h3 {
  font-size: 24px;
  animation: slideDown 0.5s ease-out;
  animation-fill-mode: forwards;
  margin-left: 10px;
}

/*
h3 {
  font-size: 18px;
}
*/

p,
a {
  margin-left: 10px;
  animation: slideDown 0.5s;
  animation-fill-mode: both;
  color: #fff;
}

p.soon {
  font-size: 16px;
}

button {
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 20px;
  color: #000;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  animation: slideDown 0.5s;
  animation-fill-mode: both;
}

button:hover {
  background-color: #555;
  color: #fff;
}

button:active {
  background-color: #333;
}

button:focus {
  outline: none;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

body {
  background-color: #222;
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: #fff;
}

header {
  background-image: url('images/image.jpg');
  background-size: cover;
  background-position: center;
  height: 100px;
  position: relative;
}

header.star-ac-2023 {
  background-image: url('images/star-ac-2023.jpg');
  background-size: cover;
  background-position: center;
  height: 100px;
  position: relative;
}


header::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

header h1 {
  color: #fff;
  font-size: 36px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}


nav {
  color: #fff;
  padding: 10px;
  position: relative;
  z-index: 1;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin: 0 10px;
  position: relative;
  display: inline;
}

nav li ul {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  padding: 5px;
  display: none;
}

nav li:hover ul {
  display: block;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

nav ul ul {
  position: absolute;
  top: 0;
  left: 100%;
  width: 150px;
  display: none;
}

footer {
  padding: 10px;
  text-align: center;
  animation: slideDown 0.5s;
  animation-fill-mode: both;
  position: relative;
}

.language-select {
  display: inline-block;
  text-align: center;
  top: 10px;
}

.language-select label {
  margin-right: 10px;
}

.language-select select {
  padding: 5px;
}

copyright {
  text-align: center;
}

.cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 10px;
  display: none;
}

.cookie-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cookie-buttons {
  display: flex;
}

.cookie-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(#30142b, #a12727);
}


.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
  top: -20px;
  left: 0;
  color: #f68e44;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #b79726;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.login-box a:hover {
  background: #f49803;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #f4c803,
    0 0 25px #bd9d0b,
    0 0 50px #f4e403,
    0 0 100px #d5cf1e;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #f4c003);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #f4bc03);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #f4dc03);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #f4b003);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}